@import 'shared';

.Timeline {
  height: 100vh;
  width: 100vw;

  .timelineWrapper {
    position: relative;
    height: 288px;
    width: 288px;
    margin: auto;
  }

  .next,
  .prev {
  }

  .carouselWrapper {
    margin-top: 500px;
    svg:not(.next, .prev, .timelineDot, .currentYearPoint) {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;
      margin-right: auto;
    }

    #circle {
      position: relative;
      left: 0;
    }
    .timelineMap {
      padding-top: 1.6px;
      width: 319px;
      height: 319px;
      position: relative;
    }
  }
  .currentYearPoint {
    width: px(12);
    height: px(12);
  }
  .timelineDot {
    width: px(6);
    height: px(6);
    cursor: pointer;
  }
  .timelineYear {
    height: 14px;
    width: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
  }

  .yearText {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
  }
  .swiper {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;

    .swiperSlide {
      .swiperBackground {
        height: 100%;
        width: 100%;
        // background-color: aqua;
      }
    }
  }
  .navWrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;

    .prev {
      padding-left: 100px;
    }
    .next {
    }
  }
}
